/* stile  */

/* stili di appoggio per lo sviluppo */

.bp1
{
    border: 3px solid orange;
}

.bp2
{
    border: 3px solid cyan;
}

.bp3
{
    border: 3px solid lime;
}

.bp4
{
    border: 3px solid salmon;
}

.bp5
{
    border: 3px solid #0892D0;
}











/* ELEMENTI */

.box-totale
{
    height: 40px; 
    width: 70px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 2rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 15%;
}

.titolo_box
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-left: 5px;
}
